<h2> Vous souhaitez modifier votre voyage ?</h2>
<% if current_user %>
  <%= simple_form_for [@itinerary, @trip] do |f| %>
    <%= f.input :title %>
    <%= f.submit "Change" %>
  <% end %>
<% end %>
