
<div class="list-trips">
  <h2>Mes voyages </h2>
  <% if @trips %>
    <% @trips.each do |trip| %>
      <div>
        <%= render 'card-trips', trip: trip %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="center-btn">
  <%= link_to "Ajouter un voyage", new_trip_path, class:'btn btn-bleu-lg' %>
</div>

  <div class="form-login">
    <% if current_user %>
    <% @invitations.each do |invitation| %>
      <p>Vous avez une invitation sur un voyage </p>
      <%= invitation.trip.title%>
      <%= link_to "Rejoindre",  join_trip_path(invitation.trip, invitation: invitation.id), class: "btn btn-bleu" %>
    <% end %>
    <% end %>

  </div>


