
<div class="list-trips">
  <h2>Mes voyages </h2>
  <% if @trips %>
    <% @trips.each do |trip| %>
      <div>
        <%= render 'card-trips', trip: trip %>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <%= link_to "Ajouter un voyage", new_trip_path, class: 'btn btn-bleu' %>
</div>
