<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

        <h2>My trips </h2>
        <% @trips.each do |trip| %>
          <div class="col-xs-12 col-sm-4">
            <%= render 'card-trips', trip: trip %>
          </div>
        <% end %>


        <%= link_to "Ajouter un voyage", new_trip_path, class: 'btn btn-bleu' %>

        <div class="form-login">
          <% if current_user %>
          <p>Vous avez un code invitation pour rejoindre vos amis ?</p>
          <% @invitations.each do |invitation| %>
            <%= invitation.trip.title%>
            <%= link_to "Rejoindre",  join_trip_path(invitation.trip, invitation: invitation.id), class: "btn btn-bleu" %>
          <% end %>
          <% end %>

        </div>

    </div>
  </div>
</div>
