
<p>Bonjour ,</p>

<p><%= @invitation.trip.itineraries.first.user.first_name %> vous a invité à le rejoindre sur Back-Pack</p>
<p>Le code de parrainage est : <%= @trip.title %> </p>

<p>L'équipe Back-Pack</p>
