

.banner-accommodation {
  color: white;
  text-align: center;
  height: 38vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  padding: 10px;
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
  }
  h3{
    font-size: 25px;
    // font-weight: bold;
    color: #4F4F4F;
    margin-left: 20px;
    margin-top: 30px;
    i {
      color: #17E8C7;
    }
  }
  p{
    font-size: 20px;
    color: #4F4F4F;
    margin-left: 34px;
  }
  .date-accommodation{
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    i{
      padding: 15px;
      color: #17E8C7;
    }
    background-color: #DDDDDD;
    margin-left: 33px;
    margin-right: 33px;
    margin-top: -50px;
    border-radius: 3px;
  }
}

.btn-center{
  display: flex;
  justify-content: space-between;
  width: 129px;
  position: absolute;
  right: 33px;
}

.footer-accomodation {

  padding: 5px;                              /* Internal space */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10px;
  padding-right: 10px;

}

.footer-icons-accomodation {
  display: flex;
  align-items: center;
  margin-right: 10px;

}


.description-accomodation {
    h5 {
  font-size: 18px;
  color: darkgrey;
  justify-content:center;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
    }
}
