
.flexelement {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  height: 175px;
  a {
    width: 60%;
    position: absolute;
    left: 40%;
    top: -20px;
  }
}
.steps-card {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  width: 40%;
  // position: absolute;
}

.step-card-description {
  left: 10px;
  height: 155px;
  background-color: white;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.step-footer-icons {
  display: flex;
  align-items: center;
  margin-left: 321px;
  margin-top: -20px;

}
#title {
  padding-top: 52px;
}
