.steps-page-title {
  font-size: 25px;
  text-align: center;
  font-family: lato;
  font-weight: 100;
  margin-top: 40px;
}

.content-transport {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}


.steps-main-info {
  /* text-transform: uppercase; */
  font-size: 35px;
  /* size: 30px; */
  font-weight: bold;
  color: #4F4F4F;
  // margin: -5px 0px;
  // margin-left: 34px;
  text-transform: uppercase;
}
