<h1>Tickets#new</h1>
<p>Please upload your ticket</p>


<div id="ticket">
  <% if current_user %>
    <%= simple_form_for [@transport, @ticket] do |f| %>

      <%= f.input :photo %>

      <%= f.submit "Add"%>
    <% end %>
  <% end %>
</div>
