<div class="scrollable full-height">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="form-login">

          <h2>Ajoutez votre billet</h2>
          <p>Ou une capture d'écran de celui-ci</p>
          <% if current_user %>
            <%= simple_form_for [@transport, @ticket] do |f| %>
              <%= f.input :photo %>
              <%= f.button :submit, "Ajouter", class: "btn btn-bleu", id: "retour-btn"%>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="center-btn" id="retour-btn">
  <%= link_to "RETOUR", transport_path(@transport), class: "btn btn-bleu-so"%>
</div>
