<div class="container">
 <div class="row">
  <h1><%= profil.first_name %> <%= @profil.last_name %></h1>
  <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
 </div>
</div>
