<div class="container">

  <div class="profile">

    <div class="front">
      <div class="row">

        <div class="profile_banner">
          <div class="profile_name">
            <h3><%= @profil.first_name %> <%= @profil.last_name %></h3>
          </div>
        </div>

        <div class="profile_photo"> <% avatar_url = @profil.facebook_picture_url || "http://placehold.it/30x30" %> <%= image_tag avatar_url %>
        </div>
      </div>

      <div class="boxes">
        <a id="trip_btn" class="box_trip"> Voyages </a>
        <a id="friend_btn" class="box_info"> Amis </a>
      </div>

      <div class="row">
        <div class="information">
          <div class="card">

            <div id="trip_card" class="card-body">
              <ul>
                <% @trips.each do |trip|%>
                  <li style="list-style-type: none";><%= link_to trip.title, trip_steps_path(trip)%></li>
                <% end %>
              </ul>
            </div>


            <div id="friend_card" class="card-body remove">
              <ul>
                <li style="list-style-type: none"> Sonia</li>
                <li style="list-style-type: none"> Alix</li>
                <li style="list-style-type: none"> Mathieu</li>
                <li style="list-style-type: none"> Edouard</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
