<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">

        <% if current_user %>
          <%= simple_form_for [@trip, @step] do |f| %>
            <%= f.input :title %>
            <%= f.button :submit, "Modifier", class: "btn-bleu" %>
          <% end %>
        <% end %>
        <%= link_to 'Supprimer', step_path(@step), method: :delete, class: 'btn btn-bleu' %>
      </div>
    </div>
  </div>
</div>
