<h3>Vos étapes :</h3>

<% @steps.each do |step| %>
  <%= link_to ((step.transport.nil? && policy(Transport.new(step: step)).create?) ? new_step_transport_path(step) : transport_path(step.transport)) do %>
    <div class="card-step">
      <div class="card-step-description">
        </h2><%= step.title %></h2>
        <% if policy(step).edit? %>
          <%= link_to edit_step_path(step) do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>


<div class="btn btn-bleu">
  <%= link_to "Ajouter une étape", new_trip_step_path(@trip.id) %>
</div>
