<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

        <h3>Vos étapes :</h3>

        <% @steps.each do |step| %>
          <div class="col-xs-12 col-sm-4">
            <%= render 'card-steps', step: step %>
          </div>
        <% end %>

        <div class="btn btn-bleu"> <%= link_to "Ajouter une étape", new_trip_step_path(@trip) %>

        </div>

    </div>
  </div>
</div>
