<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">

        <h2> Précisez votre première étape : </h2>

        <% if current_user %>
          <%= simple_form_for [@trip, @step] do |f| %>
            <%= f.input :title, placeholder: "Marseille" %>
            <%= f.button :submit, "Ajouter", class: "btn-blue" %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>






