.btn-bleu {
  width: 100%;
  background: rgba(92,201,245,1);
  color: white;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.btn-bleu-lg {
  width: 60%;
  padding: 20px;
  background: rgba(92,201,245,1);
  color: white;
  font-family: lato;
  font-weight: 400;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.center-btn {
  display: flex;
  justify-content: space-around;
}

.addtrip {
  margin-top: 20px;
}

.btn-bleu-so {
  width: 60%;
  padding: 10px;
  background: rgba(92,201,245,1);
  color: white;
  font-family: lato;
  font-weight: 400;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.btn-bleu-rejoindre {
  width: 60%;
  padding: 10px;
  background: rgba(14, 230, 203, 1);
  color: white;
  font-family: lato;
  font-weight: 400;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

#retour-btn {
  margin-top: 30px;
}
