.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100%;

}
.card-description h2 {
  font-size: 24px;
  a {
    text-align: left;
  }
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.activity-card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#modifier {
  z-index: 2;
}

.trip-card-photo {
  height: 150px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}


.footer-trips {
  background: white;                          /* White background */
  padding: 5px;                              /* Internal space */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

}

.footer-icons {
  display: flex;
  align-items: center;
}

.footer-trips h2 {
  font-size: 24px;
  font-family: lato;
  text-transform: uppercase;
  a {
    text-align: left;
  }
}

.footer-activities h2 {
  font-size: 18px;
  font-family: lato;
  text-transform: uppercase;
  a {
    text-align: left;
  }
}

.link-trip {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}


.circle-icon  {
  // background: #5cc9f5;
  background: #17E8C7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  a {
    color: white;
  }
}

.card-invitation {
  height: 150px;
  background-color: white;
  color: inherit;
  position: relative;
  padding: 10px;
  margin-top: 5px;
  text-align: center;

  h5 {
   font-family: lato;
   text-transform: uppercase;
   font-weight: bold;
  }
}

