Index/Activities

<div class="container">
  <div class="row">
    <% @prestations.each do |activity| %>
      <div class="col-xs-12 col-sm-4">
        <%= render 'shared/cards-activity'%>
      </div>
    <% end %>
  </div>
</div>

<%#= link_to 'Modifier', edit_step_activity_path(@step, @activity) %>
