<div class="scrollable full-height">
  <div class="container">
    <div class="row">
      <% @activities.each do |activity| %>
        <div class="col-sm-4">
          <%= render 'card-activity', activity: activity %>
        </div>
      <% end %>
      <div class="col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))";>
          <div class="card-description">
            <h1>+</h1>
          </div>
          <%= link_to 'Ajouter', new_step_activity_path(@step), class:'card-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'navbutton-activity' %>

