Show/Activities
<div class="container">
  <div class="row">
    <div class="card">
      <div class="col-xs-12 col-sm-4">
        <%= render 'shared/cards-activity', activity: @activity%>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Modifier', edit_activity_path(@activity) %>

<%= link_to 'Supprimer', activity_path(@activity), method: :delete %>
